{% extends 'baseback.html.twig' %}

{% block title %}
Modification d'un actualite


{% endblock %}
{% block content %}

<h2>Modification d'un actualite</h2>
<a href="{{url('app_afficher_actualitee')}}"><button type="button" class="btn rounded-pill btn-success">Retour</button></a>
<div class="form-horizontal">
	{{ form_start(form) }}
		<div class=" form-group ">
			<label class="control-label col-sm-2 " for="nomactualite">Titre:</label>
			<div class="col-sm-10 ">
				{{form_widget(form.titre, {'attr': {'class': 'form-control','type':'string', placeholder:'titre'}}) }}
			</div>
		</div>
		<div class="form-group ">
			<label class="control-label col-sm-2 " for="auteuractualite">Contenu:</label>
			<div class="col-sm-10 ">
				{{form_widget(form.contenu, {'attr': {'class': 'form-control','type':'text', placeholder:'Contenu'}}) }}
			</div>
		</div>
		<div class=" form-group ">
			<label class="control-label col-sm-2 " for="reference">categorie :</label>
			<div class="col-sm-10 ">
				{{form_widget(form.categorie, {'attr': {'class': 'form-control','type':'string', placeholder:'La categorie'}}) }}
			</div>
		</div>
	
		<div class="form-group button">
			<div class="col-sm-offset-2 col-sm-10 ">
				<button type="submit" name="modifier" class="btn btn-warning">Modifier</button>
			</div>
		</div>
	{{ form_end(form) }}
</div>

{% endblock %}
