{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}

<div class="creat-collection-area pt--80">
    <div class="container">
        <div class="row g-5 ">
            <div class="col-lg-3 offset-1 ml_md--0 ml_sm--0">
                <div class="collection-single-wized banner">
                    <label class="title required">Logo image</label>

                    <div class="create-collection-input logo-image">
                        <div class="logo-c-image logo">
                            <img id="rbtinput1" src="{{ asset('FrontOffice/assets/images/profile/profile-01.jpg')}}" alt="Profile-NFT">
                            <label for="fatima" title="No File Choosen">
                                <span class="text-center color-white"><i class="feather-edit"></i></span>
                            </label>
                        </div>
                        <div class="button-area">
                            <div class="brows-file-wrapper">
                                <!-- actual upload which is hidden -->
                                {{ form_widget(form.photoURL, {'id': 'fatima', 'attr': {'class': 'custom-file-input'}}) }}
                                <!-- our custom upload button -->
                    
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-7">
                <div class="create-collection-form-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="collection-single-wized">
                                <label for="name" class="title required">Name</label>
                                <div class="create-collection-input">
                                    {{ form_widget(form.nom) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="collection-single-wized">
                                <label class="title">Category</label>
                                <div class="create-collection-input">
                                        {{ form_widget(form.Category) }}
                                        {{ form_errors(form.Category) }}
                                </div>
                            </div>
                        </div>

                        <div style="height : 10px;"> </div>
                        <div class="col-lg-12">
                            <div class="collection-single-wized">
                                <label for="description" class="title">Description</label>
                                <div class="create-collection-input">
                                    {{ form_widget(form.Description) }}
                                    {{ form_errors(form.Description) }}

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="collection-single-wized">
                                <label for="wallet" class="title">Your  wallet address</label>
                                <div class="create-collection-input">
                                    {{ form_widget(form.WalletAddress) }}
                                    {{ form_errors(form.WalletAddress) }}

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="nuron-information mb--30">
                                <div class="single-notice-setting">
                                    <div class="input">
                                        <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input">
                                        <label for="themeSwitch" class="theme-switch__label">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="content-text">
                                        <p>Explicit & sensitive content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="button-wrapper">
                                <!-- <a href="#" class="btn btn-primary btn-large mr--30" data-bs-toggle="modal" data-bs-target="#collectionModal">Preview</a> -->
                                <button class="btn btn-primary-alta btn-large">{{ button_label|default('Create') }}</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
