{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1>Projets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.Description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ projet.Category }}</td>
            </tr>
            <tr>
                <th>WalletAddress</th>
                <td>{{ projet.WalletAddress }}</td>
            </tr>
            <tr>
                <th>DateDeCreation</th>
                <td>{{ projet.DateDeCreation ? projet.DateDeCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PhotoURL</th>
                <td>{{ projet.photoURL }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_projects_index') }}">back to list</a>

    <a href="{{ path('app_dashboard_projects_edit', {'id': projet.id}) }}">edit</a>

    {{ include('dashboard_projects/_delete_form.html.twig') }}
{% endblock %}
