{% extends 'basefront.html.twig' %}

{% block title %}  {% endblock %}

{% block content %}


<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">

        
            
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="index.html">Home</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">Collection</li>
                </ul>
            </div>

            <div class="rn-activity-area rn-section-gapTop">
                <div class="container">
                    <div class="row mb--30">
                        <h3 class="title">All following Acivity</h3>
                    </div>
                    <div class="row g-6 activity-direction">
                        <div class="col-lg-8 mb_dec--15">
                            <!-- single activity -->
                            <div class="single-activity-wrapper">
                                <div class="inner">
                                    <div class="read-content">
                                        <div class="thumbnail">
                                            <a href="product-details.html"><img src="assets/images/activity/activity-01.jpg" alt="Nft_Profile"></a>
                                        </div>
                                        <div class="content">
                                            <a href="product-details.html">
                                                <h6 class="title">Diamond Dog</h6>
                                            </a>
                                            <p>10 editions listed by Bits for <span>2.50 ETH</span> each</p>
                                            <div class="time-maintane">
                                                <div class="time data">
                                                    <i data-feather="clock"></i>
                                                    <span>2:30 PM on 19th June, </span>
                                                </div>
                                                <div class="user-area data">
                                                    <i data-feather="user"></i>
                                                    <a href="#">John Lee</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icone-area">
                                        <i data-feather="message-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- single activity -->
                            <!-- single activity -->
                
                            <!-- single activity -->
                            <!-- single activity -->
                            <div class="single-activity-wrapper">
                                <div class="inner">
                                    <div class="read-content">
                                        <div class="thumbnail">
                                            <a href="product-details.html"><img src="assets/images/activity/activity-03.jpg" alt="Nft_Profile"></a>
                                        </div>
                                        <div class="content">
                                            <a href="product-details.html">
                                                <h6 class="title">Shopping Car</h6>
                                            </a>
                                            <p>Last editions listed by Bits for <span>3.50 ETH</span> each</p>
                                            <div class="time-maintane">
                                                <div class="time data">
                                                    <i data-feather="clock"></i>
                                                    <span>1:30 PM on 19th June, </span>
                                                </div>
                                                <div class="user-area data">
                                                    <i data-feather="user"></i>
                                                    <a href="#">Mark Lee</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icone-area">
                                        <i data-feather="heart"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- single activity -->
                            <!-- single activity -->
                            <div class="single-activity-wrapper">
                                <div class="inner">
                                    <div class="read-content">
                                        <div class="thumbnail">
                                            <a href="product-details.html"><img src="assets/images/activity/activity-04.jpg" alt="Nft_Profile"></a>
                                        </div>
                                        <div class="content">
                                            <a href="product-details.html">
                                                <h6 class="title">Nuron Scare</h6>
                                            </a>
                                            <p>listed by Bits for <span>6.50 ETH</span> each</p>
                                            <div class="time-maintane">
                                                <div class="time data">
                                                    <i data-feather="clock"></i>
                                                    <span>9:30 PM on 19th jan, 2001</span>
                                                </div>
                                                <div class="user-area data">
                                                    <i data-feather="user"></i>
                                                    <a href="#">Moshiur Joo</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icone-area">
                                        <i data-feather="user-minus"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- single activity -->
                            <!-- single activity -->
                            <div class="single-activity-wrapper">
                                <div class="inner">
                                    <div class="read-content">
                                        <div class="thumbnail">
                                            <a href="product-details.html"><img src="assets/images/activity/activity-05.jpg" alt="Nft_Profile"></a>
                                        </div>
                                        <div class="content">
                                            <a href="product-details.html">
                                                <h6 class="title">Sufining saffer</h6>
                                            </a>
                                            <p>New editions listed by Bits for <span>9.50 ETH</span> each</p>
                                            <div class="time-maintane">
                                                <div class="time data">
                                                    <i data-feather="clock"></i>
                                                    <span>2:30 PM on 19th June, </span>
                                                </div>
                                                <div class="user-area data">
                                                    <i data-feather="user"></i>
                                                    <a href="#">John Lee</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icone-area">
                                        <i data-feather="thumbs-up"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- single activity -->
                            <!-- single activity -->
                            <div class="single-activity-wrapper">
                                <div class="inner">
                                    <div class="read-content">
                                        <div class="thumbnail">
                                            <a href="product-details.html"><img src="assets/images/activity/activity-06.jpg" alt="Nft_Profile"></a>
                                        </div>
                                        <div class="content">
                                            <a href="product-details.html">
                                                <h6 class="title">Diamond Dog</h6>
                                            </a>
                                            <p>10 editions listed by Bits for <span>2.50 ETH</span> each</p>
                                            <div class="time-maintane">
                                                <div class="time data">
                                                    <i data-feather="clock"></i>
                                                    <span>2:30 PM on 19th June, </span>
                                                </div>
                                                <div class="user-area data">
                                                    <i data-feather="user"></i>
                                                    <a href="#">John Lee</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icone-area">
                                        <i data-feather="shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- single activity -->
                            <!-- single activity -->
                            <div class="single-activity-wrapper">
                                <div class="inner">
                                    <div class="read-content">
                                        <div class="thumbnail">
                                            <a href="product-details.html"><img src="assets/images/activity/activity-01.jpg" alt="Nft_Profile"></a>
                                        </div>
                                        <div class="content">
                                            <a href="product-details.html">
                                                <h6 class="title">Cat Food</h6>
                                            </a>
                                            <p>New Discover listed by Bits for <span>2.50 ETH</span> each</p>
                                            <div class="time-maintane">
                                                <div class="time data">
                                                    <i data-feather="clock"></i>
                                                    <span>2:30 PM on 19th June, </span>
                                                </div>
                                                <div class="user-area data">
                                                    <i data-feather="user"></i>
                                                    <a href="#">John Lee</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icone-area">
                                        <i data-feather="heart"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- single activity -->
                            <!-- single activity -->
                            <div class="single-activity-wrapper">
                                <div class="inner">
                                    <div class="read-content">
                                        <div class="thumbnail">
                                            <a href="product-details.html"><img src="assets/images/activity/activity-02.jpg" alt="Nft_Profile"></a>
                                        </div>
                                        <div class="content">
                                            <a href="product-details.html">
                                                <h6 class="title">Sun Afford</h6>
                                            </a>
                                            <p>10 editions listed by Bits for <span>2.50 ETH</span> each</p>
                                            <div class="time-maintane">
                                                <div class="time data">
                                                    <i data-feather="clock"></i>
                                                    <span>2:30 PM on 19th June, </span>
                                                </div>
                                                <div class="user-area data">
                                                    <i data-feather="user"></i>
                                                    <a href="#">John Lee</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icone-area">
                                        <i data-feather="shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- single activity -->
        
                        </div>
                        <div class="col-lg-4">
                            <div class="filter-wrapper">
                                <div class="widge-wrapper rbt-sticky-top-adjust">
                                    <div class="inner">
                                        <h3>Market filter</h3>
                                        <div class="sing-filter">
                                            <button>Purchases</button>
                                            <button>Sales</button>
                                            <button>Followers</button>
                                            <button>Following</button>
                                            <button>Reserved</button>
                                            <button>Live Auction</button>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <h3>Filter by users</h3>
                                        <div class="sing-filter">
                                            <button>Love</button>
                                            <button>Saved</button>
                                            <button>Support us</button>
                                            <button>Report</button>
                                            <button>Vedio</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 20px;" >
                    <h6 class="title text-center text-md-start" style="padding-bottom: 20px;">{{ project.nom }}</h6>
                    <p class="description">{{ project.description }}</p>
                    <p class="category font-weight-bold">{{ project.category }}</p>
                    <p class="date" style="font-size: 0.8rem; color: #666;"> Created: {{ project.DateDeCreation ? project.DateDeCreation|date('Y-m-d') : '' }}</p>
                    
                    
                    <form action="{{ path('delete_projet', {'id': project.id}) }}" style="padding-bottom: 20px;"  method="post" onsubmit="return confirm('Are you sure you want to delete this project?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a href="{{ path('edit_projects', {'id': project.id}) }}" class="btn btn-primary " >Edit</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rn-collection-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <!-- start single collention -->

            <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">

                <a href="product-details.html" class="rn-collection-inner-one">
                    <div class="collection-wrapper">
                        <div class="collection-big-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-lg-01.jpg') }}" alt="Nft_Profile">
                        </div>
                        <div class="collenction-small-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-sm-01.jpg') }}" alt="Nft_Profile">
                        </div>

                        <div class="collection-deg">
                            <h6 class="title"></h6>
                        </div>
                        <span class="items"></span>

                    </div>
                </a>
                
            </div>
            <!-- End single collention -->
            <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">

                <a href="product-details.html" class="rn-collection-inner-one">
                    <div class="collection-wrapper">
                        <div class="collection-big-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-lg-01.jpg') }}" alt="Nft_Profile">
                        </div>
                        <div class="collenction-small-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-sm-01.jpg') }}" alt="Nft_Profile">
                        </div>

                        <div class="collection-deg">
                            <h6 class="title"></h6>
                        </div>
                        <span class="items"></span>

                    </div>
                </a>
                
            </div>            <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">

                <a href="product-details.html" class="rn-collection-inner-one">
                    <div class="collection-wrapper">
                        <div class="collection-big-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-lg-01.jpg') }}" alt="Nft_Profile">
                        </div>
                        <div class="collenction-small-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-sm-01.jpg') }}" alt="Nft_Profile">
                        </div>

                        <div class="collection-deg">
                            <h6 class="title"></h6>
                        </div>
                        <span class="items"></span>

                    </div>
                </a>
                
            </div>            <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">

                <a href="product-details.html" class="rn-collection-inner-one">
                    <div class="collection-wrapper">
                        <div class="collection-big-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-lg-01.jpg') }}" alt="Nft_Profile">
                        </div>
                        <div class="collenction-small-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-sm-01.jpg') }}" alt="Nft_Profile">
                        </div>

                        <div class="collection-deg">
                            <h6 class="title"></h6>
                        </div>
                        <span class="items"></span>

                    </div>
                </a>
                
            </div>            <div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">

                <a href="product-details.html" class="rn-collection-inner-one">
                    <div class="collection-wrapper">
                        <div class="collection-big-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-lg-01.jpg') }}" alt="Nft_Profile">
                        </div>
                        <div class="collenction-small-thumbnail">
                            <img src="{{ asset('FrontOffice/assets/images/collection/collection-sm-01.jpg') }}" alt="Nft_Profile">
                        </div>

                        <div class="collection-deg">
                            <h6 class="title"></h6>
                        </div>
                        <span class="items"></span>

                    </div>
                </a>
                
            </div>  

        </div>
        <div class="row">
            <div class="col-lg-12" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                <nav class="pagination-wrapper" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}
